<%- include("./partials/header.ejs") %>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="wrapper">
            <div class="content rounded p-4 ">
                <form method="post" action="/user/forgot-password" class="d-flex flex-column">
                    <img class="mb-4 mx-auto d-block" src="/assets/user.svg" alt="user" width="72" height="57">

                    <h1 class="h3 mb-3 fw-normal text-center">Please enter your email address</h1>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com"
                            name="username" required>
                        <label for="email">Email address</label>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit">Verify</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>