<%- include("./partials/header.ejs") %>

    <div class="wrapper">
        <div class="content rounded">
            <form method="" class="d-flex flex-column">
                <img class="mb-4" src="/assets/user.svg" alt="user" width="72" height="57">

                <a href="/user/login" class="btn btn-primary w-80 py-2">Log In</a>
                <hr class="featurette-divider">
                <a href="/user/signup" class="btn btn-primary w-80 py-2">Sign Up</a>

            </form>
        </div>
    </div>


    <%- include("./partials/footer.ejs") %>