<%- include("./partials/header.ejs") %>

<div class="wrapper">
    <div class="content rounded">
        <form method="post" action="/user/signup" class="d-flex flex-column">
            <img class="mb-4" src="/assets/user.svg" alt="user" width="72" height="57">

            <% if (locals.message) { %>
              <h1 class="h3 mb-3 fw-normal"><%= message %></h1>
            <% } %>

            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Name like 'Saubhagya Patel'" name="name">
              <label for="floatingInput">Full Name</label>
            </div>

            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
              <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
              <label for="floatingPassword">Password</label>
            </div>
        
            <button class="btn btn-primary w-80 py-2" type="submit">Sign up</button>

          </form>
    </div>
</div>

<%- include("./partials/footer.ejs") %>