<%- include("./partials/headerV2.ejs") %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="wrapper">
                    <div class="content rounded">
                        <form method="post" action="/user/reset-password" class="d-flex flex-column">
                            <img class="mb-4 mx-auto d-block" src="/assets/user.svg" alt="user" width="72" height="57">

                            <% if (locals.message) { %>
                                <h1 class="h3 mb-3 fw-normal text-center">
                                    <%= message %>
                                </h1>
                                <% } else { %>
                                    <h1 class="h3 mb-3 fw-normal text-center">Please enter OTP and new password.</h1>
                                    <% } %>

                                        <input type="email" name="username" id="email" value="<%= email %>" hidden>

                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="floatingOtp" placeholder="OTP"
                                                name="otp">
                                            <label for="floatingOtp">OTP</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="password"
                                                placeholder="New Password" name="password">
                                            <label for="password">New Password</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="confirm"
                                                placeholder="Confirm password" name="confirmPassword">
                                            <label for="confirm">Confirm Password</label>
                                        </div>

                                        <button class="btn btn-primary w-100 py-2" type="submit">Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footerV2.ejs") %>