<%- include("./partials/header.ejs") %>

    <div class="wrapper">
        <div class="content rounded">
            <p class="lead display-6">
                Logged In Successfully
            </p>
            <a href="/user/logout" class="btn btn-primary w-80 py-2">
                Log out
            </a>
        </div>
    </div>



    <%- include("./partials/footer.ejs") %>